<div class="card w-75 row">
    <div class="card-header">Tus datos de perfil</div>
    <div class="card-body" *ngIf="auth.user$ | async as user">
        <div class="d-flex gap-4 align-items-center  profile-header">
            <div class="mb-3">
                <img [src]="user.picture" alt="Foto de perfil usuario" class="rounded-circle img-fluid profile-picture">
            </div>
            <div class="text-center text-md-left">
                <h2><i class="fas fa-user"></i> {{ user.nickname }}</h2>
                <p class="lead text-muted"><i class="fa-solid fa-envelope px-2"></i>{{ user.email }}</p>
            </div>
        </div>
    </div>
</div>