<footer class="bg-dark text-white py-4">
    <div class="container">
      <div class="row gy-3">
            <!-- *Redes sociales -->
            <div class="col-lg-4">
            <h5 class="fw-bold">Redes Sociales</h5>
            <div class="gap-3 d-flex justify-content-start">
                <a href="https://www.instagram.com/jordann_vera" target="_blank" class="text-primary fs-4 px-2 rounded-5 bg-secondary" 
                data-bs-toggle="tooltip" data-bs-title="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.facebook.com/jordan.vera.372" target="_blank" class="text-primary fs-4 px-2 rounded-5 bg-secondary" 
                data-bs-toggle="tooltip" data-bs-title="Facebook">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://www.linkedin.com/in/jordann-vera" target="_blank" class="text-primary fs-4 px-2 rounded-5 bg-secondary" 
                data-bs-toggle="tooltip" data-bs-title="Linkedin">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://join.skype.com/invite/kEbQ9K594GvA" target="_blank" class="text-primary fs-4 px-2 rounded-5 bg-secondary" 
                data-bs-toggle="tooltip" data-bs-title="Skype">
                    <i class="fab fa-skype"></i>
                </a>
                <a href="https://twitter.com/jordan3vera" target="_blank" class="text-primary fs-4 px-2 rounded-5 bg-secondary" 
                data-bs-toggle="tooltip" data-bs-title="Twitter">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
            </div>

            <!-- *Contacto -->
            <div class="col-lg-4">
                <h5 class="fw-bold">Acerca de Mí</h5>
                <p>¡Hola! Soy <strong>Jordan</strong>, un desarrollador web apasionado por la creación de soluciones digitales</p>
                <ul class="list-unstyled">
                    <li>
                        <i class="fas fa-phone"></i> 
                        <span>+54 (336) 4355860</span>
                    </li>
                    <li>
                        <i class="fa-solid fa-location-dot"></i>
                        <span>Buenos Aires - Argentina</span>
                    </li>
                    <li>
                        <i class="fa-solid fa-briefcase"></i>
                        <span>Web Developer Full Stack (Angular - .Net - SQL)</span>
                    </li>
                </ul>
                <p>&copy; 2023 myportasite. Todos los derechos reservados.</p>
            </div>

            <!-- *Consulta -->
            <div class="col-lg-4">
                <h5 class="fw-bold">Envía tu consulta</h5>
                <!-- <form class="card py-3 px-4 bg-body-secondary" method="post" action="https://formsubmit.co/jordan3vera@gmail.com"
                [formGroup]="contactForm" (ngSubmit)="onSubmit()" autocomplete="off">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nombre</label>
                        <input type="text" class="form-control rounded-1" id="name" name="name" 
                        placeholder="Ingresa tu nombre" formControlName="name">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo Electrónico</label>
                        <input type="email" class="form-control rounded-1" id="email" name="email" 
                        placeholder="Ingresa tu correo" formControlName="email">
                    </div>
                    <div class="mb-3">
                        <label for="query" class="form-label">Consulta</label>
                        <textarea class="form-control rounded-1" id="query" name="query" rows="4" placeholder="Cuál es tu consulta.." 
                        style="resize: none;" formControlName="query"></textarea>
                    </div>
                    <button class="btn btn-outline-success" [disabled]="contactForm.invalid">Enviar</button>
                </form> -->

                <form class="card py-3 px-4 bg-body-secondary" method="POST" 
                action="https://formsubmit.co/dlco.ylpsk3@xupiv.com" autocomplete="off">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nombre</label>
                        <input type="text" class="form-control rounded-1" name="name" 
                        placeholder="Ingresa tu nombre">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo Electrónico</label>
                        <input type="email" class="form-control rounded-1" name="email" 
                        placeholder="Ingresa tu correo">
                    </div>
                    <div class="mb-3">
                        <label for="query" class="form-label">Consulta</label>
                        <textarea class="form-control rounded-1" name="query" rows="4" placeholder="Cuál es tu consulta.." 
                        style="resize: none;"></textarea>
                    </div>
                    <button class="btn btn-outline-success" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</footer>
  